.bgcolor-primary {
  background-color: $primary-color;
}

.bgcolor-secondary {
  background-color: $secondary-color;
}

.bgcolor-success {
  background-color: $success-color;
}

.bgcolor-warning {
  background-color: $warning-color;
}

.bgcolor-alert {
  background-color: $alert-color;
}

.bgcolor-white {
  background-color: $white;
}

.bgcolor-light-gray {
  background-color: $light-gray;
}

.bgcolor-medium-gray {
  background-color: $medium-gray;
}

.bgcolor-dark-gray {
  background-color: $dark-gray;
}

.bgcolor-black {
  background-color: $black;
}

.textcolor-primary {
  color: $primary-color;
}

.textcolor-secondary {
  color: $secondary-color;
}

.textcolor-success {
  color: $success-color;
}

.textcolor-warning {
  color: $warning-color;
}

.textcolor-alert {
  color: $alert-color;
}

.textcolor-white {
  color: $white;
}

.textcolor-light-gray {
  color: $light-gray;
}

.textcolor-medium-gray {
  color: $medium-gray;
}

.textcolor-dark-gray {
  color: $dark-gray;
}

.textcolor-black {
  color: $black;
}
