// Typography
%header-font-family {
  font-family: $header-font-family;
}

%body-font-family {
  font-family: $body-font-family;
}

%h1,
%h2,
%h3,
%h4,
%h5,
%h6 {
  color: $header-color;
  font-style: $header-font-style;
  font-weight: $header-font-weight;
  line-height: $header-lineheight;
  margin-bottom: $header-margin-bottom;
  text-rendering: $header-text-rendering;
}

%h1 {
  @extend %header-font-family;
  font-size: rem-calc(map-fetch($header-styles, small h1 font-size));

  @include breakpoint(medium) {
    font-size: rem-calc(map-fetch($header-styles, medium h1 font-size));
  }
}

%h2 {
  @extend %header-font-family;
  font-size: rem-calc(map-fetch($header-styles, small h2 font-size));

  @include breakpoint(medium) {
    font-size: rem-calc(map-fetch($header-styles, medium h2 font-size));
  }
}

%h3 {
  @extend %header-font-family;
  font-size: rem-calc(map-fetch($header-styles, small h3 font-size));

  @include breakpoint(medium) {
    font-size: rem-calc(map-fetch($header-styles, medium h3 font-size));
  }
}

%h4 {
  @extend %header-font-family;
  font-size: rem-calc(map-fetch($header-styles, small h4 font-size));

  @include breakpoint(medium) {
    font-size: rem-calc(map-fetch($header-styles, medium h4 font-size));
  }
}

%h5 {
  @extend %header-font-family;
  font-size: rem-calc(map-fetch($header-styles, small h5 font-size));

  @include breakpoint(medium) {
    font-size: rem-calc(map-fetch($header-styles, medium h5 font-size));
  }
}

%h6 {
  @extend %header-font-family;
  font-size: rem-calc(map-fetch($header-styles, small h6 font-size));

  @include breakpoint(medium) {
    font-size: rem-calc(map-fetch($header-styles, medium h6 font-size));
  }
}

// Buttons
%button {
  background-color: $button-background;
  border-radius: $button-radius;
  color: $button-color;
  font-family: $button-font-family;
  font-size: map-fetch($button-sizes, default);
  margin: $button-margin;
  padding: $button-padding;
  transition: $button-transition;

  &:hover {
    background-color: $button-background-hover;
  }
}

// Flex grid
%flex {
  @include flex;
}

%flex-wrap {
  flex-wrap: wrap;
}

%flex-nowrap {
  flex-wrap: nowrap;
}

%flex-cell {
  padding-left: $small-gutter;
  padding-right: $small-gutter;
}

%flex-margin {
  margin-left: $small-gutter * -1;
  margin-right: $small-gutter * -1;
}

%flex-align-right {
  @include flex-align(right);
}

%flex-align-middle {
  @include flex-align(null, middle);
}

// Lists
%reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
