@import '../core/core';

@include foundation-global-styles;
@include foundation-typography;
@include foundation-forms;

$input-height: ($input-font-size * unitless-calc($input-line-height)) + (get-side($input-padding, 'top') + get-side($input-padding, 'bottom')) - rem-calc(1);

body {
  font-size: $global-font-size;
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
input[type='text'],
input[type='password'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='color'],
textarea,
select {
  border: $input-border;
  border-radius: $input-radius;
  box-shadow: $input-shadow;
  color: $input-color;
  font-family: $input-font-family;
  font-weight: $input-font-weight;
  height: $input-height;
  line-height: $input-line-height;

  &:focus {
    border: $input-border-focus;
    box-shadow: $input-shadow-focus;
    outline: none;
  }
}

input[type=checkbox]:checked:before {
  color: color-pick-contrast($input-background);
}

.login {
  label {
    font-size: $form-label-font-size;
  }
}

.login form .input,
.login form input[type=checkbox],
.login input[type=text] {
  background: $input-background;
}

.login form .input,
.login input[type=text] {
  font-size: $input-font-size;
  margin: 0 0 $form-spacing;
  padding: $input-padding;
}

.wp-core-ui .button,
.wp-core-ui .button-primary,
.wp-core-ui .button-secondary {
  border: 1px solid transparent;
  border-radius: $button-radius;
  font-family: $button-font-family;
  font-size: map-get($button-sizes, default);
  margin: $button-margin;
}

.wp-core-ui .button:active,
.wp-core-ui .button:focus {
  outline: none;
}

.wp-core-ui .button-primary {
  background: $button-background;
  border-color: transparent;
  box-shadow: none;
  color: $button-color;
  text-shadow: none;
}

.wp-core-ui .button-primary.focus,
.wp-core-ui .button-primary.hover,
.wp-core-ui .button-primary:focus,
.wp-core-ui .button-primary:hover,
.wp-core-ui .button-primary.active,
.wp-core-ui .button-primary.active:focus,
.wp-core-ui .button-primary.active:hover,
.wp-core-ui .button-primary:active {
  background: $button-background-hover;
  border-color: transparent;
  box-shadow: none;
  color: $button-color;
}

.wp-core-ui .button-group.button-large .button,
.wp-core-ui .button.button-large {
  height: auto;
  line-height: 1;
  padding: $button-padding;
}

.login #backtoblog,
.login #nav {
  font-size: $small-font-size;
}

.login #backtoblog a,
.login #nav a {
  color: $anchor-color;
  text-decoration: $anchor-text-decoration;

  &:hover {
    color: $anchor-color-hover;
    text-decoration: $anchor-text-decoration-hover;
  }
}

.login #login_error,
.login .message, .login .success {
  border: $callout-border;
  border-radius: $callout-radius;
  box-shadow: none;
  margin: $callout-margin;
  padding: $global-padding;
}

.login #login_error {
  $background: scale-color($alert-color, $callout-background-fade);
  background: $background;
  color: color-pick-contrast($background, ($callout-font-color, $callout-font-color-alt));
}

.login .success {
  $background: scale-color($success-color, $callout-background-fade);
  background: $background;
  color: color-pick-contrast($background, ($callout-font-color, $callout-font-color-alt));
}
